<div class="card" style="width: 19rem;">
  <img src={{recipeToShow.imgUrl}} class="card-img-top" alt="recipeImg">

  <div class="card-body">

    <ng-container class="stars" *ngFor="let index of [1, 2, 3, 4, 5]; let i = index">
      <i *ngIf="i < recipeToShow.difficulty" class="pi pi-star-fill" style="color: #FFC312;"></i>
      <i *ngIf="i >= recipeToShow.difficulty" class="pi pi-star-fill" style="color: grey;"></i>
    </ng-container>

    <hr>
    <h5>{{recipeToShow.name}}</h5>

  </div>
</div>